.btn-like{
 color: rgb(245, 12, 179);
 font-size: 1.5em;
}
.btn-dislike{
    color: black;
    font-size: 1.5em;
}
.bi-star-fill {
    max-width: 2em; 
    max-height: 2em;
} 

.edit{
    height: 150px;
    width: 150px;
    margin-bottom: 10px;
}

button:hover {
  opacity:1;
}

.cancelbtn, .deletebtn {
  float: left;
  
}
.seguro{
margin-bottom: 1em;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
  margin-right: 5px;
}

.deletebtn {
  background-color: #f44336 !important;
  margin-left: 5px;
}

.container {
  padding: 16px;
  height: 10em;
  text-align: center;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: #474e5d;
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}

.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.btn-group {
    display: flex;
    justify-content: center;
  }


.btn-group::after {
  content: "";
  clear: both;
  display: table;
}
.buscador{
  display: flex;
  align-content: end;
  flex-direction: column;
}
.buscador .form-control{
  margin-top: 1em;
  padding-bottom: 0.7em;
}

.btn-search{
  padding-top: 1em;
  padding-bottom: 1em;
  border: 3px solid white;
}
.btn-search:hover{
  border:3px  solid #474e5d;
}


.tarjeta {
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: translateY(-5px);
  border: solid 2px white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost/EntornoServidor/PlarHub/Pruebas_Laravel/public/storage/Hero-tienda3.jpeg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom:  5px solid #474e5d;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.hero-text h2{
  font-size: 5em;
}
.hero-text p{
  font-size: 1.5em;
  font-weight: lighter;
}

.cart{
  padding: 0.8em;
}
.cart:hover{
background-color: #888;
}
.cart .bi{
  margin-left: 15px;
}
.badge {
  position: relative;
  top: -5px;
  right: 5px;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
}
.mensaje{
  color: #474e5d;
  border: 2px solid greenyellow;
  background-color: rgb(220, 242, 186);
  padding: 1em;
}

.comprar {
  margin-top: 1.25rem; 
  margin-left: 1.25rem; 
  background-color: #34D399 !important; 
}

.comprar:hover {
  background-color: #10B981 !important; 
}

.vaciarCarro {
  margin-top: 1.25rem; 
  margin-left: 1.25rem; 
  background-color: #FBBF24 !important;
}

.vaciarCarro:hover {
  background-color: #F59E0B !important; 
}

:root{
  --transition-duration: 0.3s;
  --transition-delay: 0.2s;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin-right: 70px;
}

.menu a {
  position: relative;
  display: block;
  padding: 10px;
}

.menu .border {
  position: absolute;
  left: 0;
  background: currentColor;
  transition: transform var(--transition-duration) ease-in-out;
}

.menu .border-top,
.menu .border-bottom {
  width: 100%;
  height: 1px;
  transform: scaleX(0);
}

.menu .border-left,
.menu .border-right {
  width: 1px;
  height: 100%;
  transform: scaleY(0);
}

.menu .border-top,
.menu .border-left,
.menu .border-right {
  top: 0;
}

.menu .border-bottom {
  bottom: 0;
  transform-origin: bottom right;
}

.menu .border-top {
  transform-origin: top left;
}

.menu .border-left {
  transform-origin: bottom left;
}

.menu .border-right {
  left: auto;
  right: 0;
  transform-origin: top right;
}

.menu a:hover .border-top,
.menu a:hover .border-bottom {
  transform: scaleX(1);
}

.menu a:hover .border-left,
.menu a:hover .border-right {
  transform: scaleY(1);
}

.menu a:hover .border-right {
  transition-delay: var(--transition-delay);
}

.menu a:hover .border-bottom {
  transition-delay: calc(var(--transition-delay) * 2);
}

.menu a:hover .border-left {
  transition-delay: calc(var(--transition-delay) * 3);
}

.return {
  text-align: center;
  padding: 20px 0; 
}
.return i{
  font-size: 2em;
  margin-right: 0.5em;
}


/* 
Boton para ir a las paginas principales
**/
.btn10{
  padding: 15px 50px;
  margin:10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;  
}


.btn10{
  top: 0px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase!important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius:50px;
  position: relative;
  overflow: hidden!important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent!important;
  z-index:10;
  
}


.btn10:hover{
  border: 1px solid #071982;
  color: #80ffd3!important;
}
.btn10::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
   box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 

.btn10::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
-ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg); 
  transform: skewX(-20deg);   
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
  -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
  transition: all .4s cubic-bezier(.2,.95,.57,.99);
  box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.btn10:hover::before, .btn1O:hover::before{
opacity:1;
width: 116%;
}
.btn10:hover::after, .btn1O:hover::after{
opacity:1;
width: 120%;
}
/* 
Fin del boton para ir a las paginas principales
**/

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  flex: 0 0 auto;
  display: none;
}

.carousel-item.active {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4em;
}

.carousel img {
  width: 10em;
  height: 10em;
}

.carousel-item image {
  max-width: 100%;
  max-height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 2em;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}


@media screen and (max-width: 600px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
  .carousel-item.active {
    display: flex;
    flex-direction: column !important;
  }

  .carousel-item.active img {
    width: 10em; 
    height: 10em; 
    margin-bottom: 1em; 
  }

}